{% extends 'layout.html.twig' %}

{% block title %}
	Admin - Nos Formations -
	{{ parent() }}
{% endblock %}

{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/Admin/training/admin-training.css">
{% endblock %}

{% block content %}
	<main class="container">

		<div class="background-line"></div>

		<section class="training">
			<div class="main-title">
				<div class="title-content">
					<div class="bloc-square"></div>
					<h3>
						<span>Admin</span><br/>nos formations
					</h3>
				</div>
			</div>

			<div class="add-bar">
				<a href="#" role="button">Ajouter</a>
			</div>

			<div class="grid">
				{% for training in trainings %}
					<div class="admin-card">
						<div class="admin-img">
							<img src="{{ training.image ? '/uploads/training/' ~ training.image : 'assets/images/default_placeholder.jpg'}}" alt="Photo de la formation"/>
						</div>
						<div class="content">
							<div>
								<h5>{{ training.degree_name ~ " " ~ training.training_name }}</h5>
								{% for sector in sectors %}
									{% if sector.name == training.sector_name %}
										<h6>{{ sector.name }}</h6>
									{% endif %}
								{% endfor %}
								<p>Durée de la formation :
									{{ training.degree_duration }}
									ans</p>
								<p>Durée du stage :
									{{ training.stage_duration }}
									mois
								</p>
								<h6>Description</h6>
								<div class="content-overflow">
									<p>
										{{ training.description }}
									</p>
								</div>
								<h6>Programme</h6>
								<div class="content-overflow">
									<p>
										{{ training.description }}
									</p>
								</div>
								<h6>Compétences</h5>
								<ul>
									{% for skill in skills %}
										{% if skill.training_skill_name == training.name  %}
											<li>{{ skill.skill_name }}</li>
										{% endif %}
									{% endfor %}
								</ul>

								<div class="btn-card">
									<a href="#" role="button">Modifier</a>
									<form action="admin/formations/supprimer?id={{ training.id }}" method="POST">
										<button>Supprimer</button>
									</form>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</section>
	</main>
{% endblock %}
