{% extends 'layout.html.twig' %}

{% block title %}
	Admin - Nos Formations -
	{{ parent() }}
{% endblock %}

{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/Admin/training/admin-training.css">
{% endblock %}

{% block content %}
	<main class="container">

		<div class="background-line"></div>

		<section class="training">
			<div class="main-title">
				<div class="title-content">
					<div class="bloc-square"></div>
					<h3>
						<span>Admin</span><br/>nos formations
					</h3>
				</div>
			</div>

			<div class="add-bar">
				<a href="/admin/formations/ajouter" role="button" class="add-btn">
					<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewbox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
						<line x1="12" y1="5" x2="12" y2="19"></line>
						<line x1="5" y1="12" x2="19" y2="12"></line>
					</svg>
				</a>
				<p>Ajouter une formation</p>
			</div>

			<div class="grid">
				{% for training in trainings %}
					<div class="admin-card">
						<div class="admin-img">
							<img src="{{ training.image ? '/uploads/training/' ~ training.image : 'assets/images/default_placeholder.jpg'}}" alt="Photo de la formation"/>
						</div>
						<div class="content">
							<div>
								<h5>{{ training.degree_name ~ " " ~ training.training_name }}</h5>
								{% for sector in sectors %}
									{% if sector.name == training.sector_name %}
										<h6>{{ sector.name }}</h6>
									{% endif %}
								{% endfor %}
								<p>Durée de la formation :
									{{ training.degree_duration }}
									ans</p>
								<p>Durée du stage :
									{{ training.stage_duration }}
									mois
								</p>

								<div class="skills">
									<h6>Compétences</h5>
									<ul>
										{% for skill in skills %}
											{% if skill.training_skill_name == training.name  %}
												<li>{{ skill.skill_name }}</li>
											{% endif %}
										{% endfor %}
									</ul>
								</div>

								<div class="next-training">
									<h6>Poursuite d'étude</h6>
									<table>
										<thead>
											<tr>
												<th>Niveau</th>
												<th>Formation</th>
												<th>Durée</th>
											</tr>
										</thead>
										<tbody>
											{% for nextTraining in nextTrainings %}
												{% if nextTraining.training_name == training.name %}
													<tr>
														<td class="small-cell">{{ nextTraining.degree }}</td>
														<td class="large-cell">{{ nextTraining.next_training_name }}</td>
														<td class="small-cell">{{ nextTraining.duration }}
															ans</td>
													</tr>
												{% endif %}
											{% endfor %}
										</tbody>
									</tbody>
								</table>
							</div>

							<div class="btn-card">
								<a href="#" role="button">Modifier</a>
								<form action="admin/formations/supprimer?id={{ training.id }}" method="POST">
									<button>Supprimer</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</main>
{% endblock %}
