{% extends 'layout.html.twig' %}

{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/training.css">
	<link rel="stylesheet" href="/assets/css/sidebar.css">
{% endblock %}

{% block title %}Formations -
	{{ parent() }}
{% endblock %}

{% block content %}
	<main class="container">

		<div class="background-line"></div>

		<section class="training">
			<div
				class="main-title">
				{# {% include 'Components/_sidebar.html.twig' %} #}
				<div class="title-content">
					<div class="bloc-square"></div>
					<h3>
						<span>Découvrez</span><br/>nos formations
					</h3>
				</div>
			</div>

			{% for sector in sectors %}
				<div class="second-title">
					<div class="bloc-rectangle"></div>
					<h4>{{ sector.name }}</h4>
				</div>


				<div class="training-articles">
					{% for training in trainings %}
						{% if sector.name == training.sector_name %}
							<article class="training-card">
								<div class="training-content">
									<div class="blue-rectangle"></div>
									<h4>{{ training.degree_name }}
										{{ training.training_name }}</h4>
									<div class="orange-rectangle"></div>
									<p>Durée :
										{{ training.duration }}
										ans /
										{{ training.stage_duration }}
										mois de stage</p>
									<a href="#" role="button">En savoir plus</a>
								</div>
								<div class="training-image">
									<img src="assets/images/reunion-reflexion.jpg" alt="Photo de la formation"/>
								</div>
							</article>
						{% endif %}
					{% endfor %}
				</div>
			</section>
		{% endfor %}
	</main>
{% endblock %}
