{% extends 'layout.html.twig' %}

{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/training.css">
{% endblock %}

{% block title %}Formations -
	{{ parent() }}
{% endblock %}

{% block content %}
	<main class="container">

		<div class="background-line"></div>

		<section class="training">
			<div class="main-title">
				<div class="title-content">
					<div class="bloc-square"></div>
					<h3>
						<span>Découvrez</span><br/>nos formations
					</h3>
				</div>
			</div>

			<div class="training-articles">

				{% for sector in sectors %}
					<div class="second-title">
						<div class="bloc-rectangle"></div>
						<h4>
							{{ sector.name }}</h4>
					</div>
				{% endfor %}

				{% for training in trainings %}
					<article class="training-card">
						<div class="training-content">
							<div class="blue-rectangle"></div>
							<h4>
								{% for degree in degrees %}
									{% if degree.id == training.degree_id %}
										{{ degree.name }}
									{% endif %}
								{% endfor %}
								{{ training.name }}</h4>
							<div class="orange-rectangle"></div>
							<p>Durée :
								{% for degree in degrees %}
									{% if degree.id == training.degree_id %}
										{{ degree.duration }}
										ans /
									{% endif %}
								{% endfor %}
								{{ training.stage_duration }}
								mois de stage</p>
							<a href="#" role="button">En savoir plus</a>
						</p>
					</div>
					<div class="training-image">
						<img src="assets/images/placeholder.jpg" alt="Photo de la formation"/>
					</div>
				</article>

			</div>
		{% endfor %}
	</section>
</main>{% endblock %}
