{% extends 'layout.html.twig' %}

{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/index-training.css">
	<link rel="stylesheet" href="/assets/css/training.css">
{% endblock %}

{% block title %}Formations -
	{{ training.name }}
	{{ parent() }}
{% endblock %}

{% block content %}
	<main class="container">
		<div class="background-line"></div>

		<div class="main-title">
			<div class="title-content">
				<div class="bloc-square"></div>
				<h3>
					<span>Découvez</span><br/>notre formation</h3>
			</div>
		</div>
		<!-- Présentation -->
		<section>
			<div class="second-title">
				<div class="bloc-rectangle"></div>
				<h4>{{ training.sector_name }}</h4>
			</div>

			<div class="presentation-content">
				<div class="image-formation">
					<img src="{{ training.image ? 'uploads/training/' ~ training.image : 'assets/images/default_placeholder.jpg'}}" alt="Photo de la formation"/>
				</div>
				<p>{{ training.description }}</p>
			</div>
		</section>
	</main>
{% endblock %}
