{% extends 'layout.html.twig' %}

{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/index-training.css">
	<link rel="stylesheet" href="/assets/css/training.css">
{% endblock %}

{% block title %}Formations -
	{{ training.name }}
	{{ parent() }}
{% endblock %}

{% block content %}
	<main class="container">
		<div class="background-line"></div>

		<div class="main-title">
			<div class="title-content">
				<div class="bloc-square"></div>
				<h3>
					<span>Présentation</span><br/>{{ training.sector_name }}</h3>
			</div>
		</div>
		{# Présentation #}
		<section>
			<div class="second-title">
				<div class="bloc-rectangle"></div>
				<h4>{{ training.degree_name ~ ' ' ~ training.name }}</h4>
			</div>

			<div class="program-content">
				<div class="image-formation">
					<img src="{{ training.image ? '/uploads/training/' ~ training.image : 'assets/images/default_placeholder.jpg'}}" alt="Photo de la formation"/>
				</div>
				<div class="training-content">
					<p>{{ training.description }}</p>
				</div>
			</div>
		</section>

		{# Programme #}
		<section>
			<div class="second-title">
				<div class="bloc-rectangle"></div>
				<h4>Le programme</h4>
			</div>

			<div class="program-content">
				<div class="training-content">
					<p>{{ training.program }}</p>
					<div
						class="program-skills">

						{# Compétences #}
						<h5>Compétences</h5>
						<ul>
							{% for skill in skills %}
								{% if skill.training_skill_name == training.name  %}
									<li>{{ skill.skill_name }}</li>
								{% endif %}
							{% endfor %}
						</ul>
					</div>


					{# CARD #}
					<div class="grid card-program">
						<div class="card">
							<h4>Durée<br>formation</h4>
							<div class="picto-program">
								<img src="/assets/images/picto-time.svg" alt="Pictogramme compétence"/>
							</div>
							<p>
								<span>{{ training.degree_duration }}</span>ans
							</p>
						</div>
						<div class="card">
							<h4>Durée<br>stage</h4>
							<div class="picto-program">
								<img src="/assets/images/picto-time.svg" alt="Pictogramme compétence"/>
							</div>
							<p>
								<span>{{ training.stage_duration }}</span>mois
							</p>
						</div>
						<div class="card">
							<h4>Taux<br>de réussite</h4>
							<div class="picto-program">
								<img src="/assets/images/picto-success.svg" alt="Pictogramme compétence"/>
							</div>
							<p>
								<span>{{ training.success_rate }}</span>%
							</p>
						</div>
					</div>
				</div>
			</div>

		</section>
	</main>
{% endblock %}
