{% extends 'layout.html.twig' %}

{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/home.css">
{% endblock %}

{% block content %}
	<header class="container event">
		<div class="event-image">
			<img src="/assets/images/placeholder_event.webp" alt="photo de l'événement"></img>
	</div>
	<article clas="event-content">
		<div class="titre">
			<h3>
				{{ events.title }}
			</h3>
		</div>
		<p class="event-text">
			{{ events.content }}
		</p>
		<a href="#" role="button">EN SAVOIR PLUS</a>
	</article>
</header>

<main class="container">
	<section>
		{# TITRE DERNIERS ACTUS #}
		<div class="second-title">
			<div class="bloc-rectangle"></div>
			<h4>Les dernières actus</h4>
		</div>
		{# CARDS #}
		<div
			class="grid">
			{# CARDS 1 #}
			{% for lastActuality in lastActualities %}
				<div class="card">
					<div class="actu-image">
						<img src="{{ training.image ? '/uploads/actuality/' ~ lastActuality.image : 'assets/images/default_placeholder.jpg'}}" alt="Photo actualité"/>
					</div>
					<header>
						<div class="picto-program">
							<img src="/assets/images/picto-success.svg" alt="Pictogramme actualités"/>
						</div>
						<div class="title-dernieresactus">
							<h4>{{ lastActuality.title }}</h4>
							<div class="orange-rectangle"></div>
						</div>
					</header>
					<div class="actu-content">
						<p>{{ lastActuality.content }}</p>
						<a href="#" role="button">Découvrir</a>
					</div>
				</div>
			{% endfor %}
		</div>
	</section>
</main>{% endblock %}
