{% extends 'layout.html.twig' %}

{% block title %}
	Admin - Notre équipe -
	{{ parent() }}
{% endblock %}

{% block stylesheet %}<link rel="stylesheet" href="/assets/css/Admin/employee/employeeIndex.css">
{% endblock %}

{% block content %}
	<main class="container">
		<div class="background-line"></div>
		<div class="main-title">
			<div class="title-content">
				<div class="bloc-square"></div>
				<h3>
					<span>Administration</span><br/>
					de notre équipe</h3>
			</div>
		</div>
		<a href="notre-equipe/ajouter" role="button" class="buttonAdd">Ajouter</a>
		{% for workDepartement in workDepartements %}
			<div class="main-title">
				<div class="second-title">
					<div class="bloc-rectangle"></div>
					<h4>{{ workDepartement.name }}</h4>
				</div>
			</div>
			<div class="myArticles">
				{% for employee in employees %}
					{% if employee.name == workDepartement.name %}
						<article>
							<div class="myArticle">
								<div class="picurePerson"><img src="/assets/images/professeursPhotos/{{ team.picture ?? "teacherByDefault.jpg"}}" alt="default"></div>
								<div class="textPerson">
									<div class="namePerson">
										<h2>{{ employee.lastname | upper }}
											{{ employee.firstname | lower }}</h2>
									</div>
									<h3>{{ employee.post | lower }}</h3>
									<a href="/admin/notre-equipe/modifier?id={{ employee.id }}" role="button" class="buttonModifier">Modifier</a>
									<form action="/admin/notre-equipe/delete" method="POST">
										<input type="hidden" name="id" value="{{ employee.id }}">
										<button class="buttonSupprimer">Supprimer</button>
									</form>
								</div>
							</div>
						</article>
					{% endif %}
				{% endfor %}
			</div>
		{% endfor %}
	</main>
{% endblock %}
